{% extends "model.html" %}
{% block title %}Accueil{% endblock %}

{% block body %}

<main>
    <section class="hero-search">
        <div class="container">
            <h1>Bienvenue sur le site du CDI du Lycée Bellevue</h1>
            <p>
                Vous pouvez réserver dès maintenant vos livres en ligne et voir les dernières nouveautés !
            </p>
            <a class="btn btn-primary" href="{{ url_for('catalogue') }}">📚 Explorer le catalogue</a>
        </div>
        
    </section>
    <video class="bg-video" autoplay muted loop>
        <source src="static/videos/bg.mp4" type="video/mp4">
    </video>
</main>




{% endblock %}
